Citibike File Cleanup

In [1]:
import pandas as pd

In [12]:
#files to load

file1 = "Citibike Files/202101.csv"
file2 = "Citibike Files/202102.csv"
file3 = "Citibike Files/202103.csv"
file4 = "Citibike Files/202104.csv"
file5 = "Citibike Files/202105.csv"
file6 = "Citibike Files/202106.csv"
file7 = "Citibike Files/202107.csv"
file8 = "Citibike Files/202108.csv"
file9 = "Citibike Files/202109.csv"
file10 = "Citibike Files/202110.csv"
file11 = "Citibike Files/202111.csv"
file12 = "Citibike Files/202112.csv"

In [13]:
#read all files

Jan = pd.read_csv(file1, low_memory=False)
Feb = pd.read_csv(file2, low_memory=False)
Mar = pd.read_csv(file3, low_memory=False)
Apr = pd.read_csv(file4, low_memory=False)
May = pd.read_csv(file5, low_memory=False)
Jun = pd.read_csv(file6, low_memory=False)
Jul = pd.read_csv(file7, low_memory=False)
Aug = pd.read_csv(file8, low_memory=False)
Sept = pd.read_csv(file9, low_memory=False)
Oct = pd.read_csv(file10, low_memory=False)
Nov = pd.read_csv(file11, low_memory=False)
Dec = pd.read_csv(file12, low_memory=False)

In [14]:
#view data in files

Jan.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0
2,1207,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,1
3,2506,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,1
4,959,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,1

In [15]:
Feb.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,121DD7DD23CB1335,docked_bike,2021-02-03 23:11:28,2021-02-03 23:18:28,Hoboken Ave at Monmouth St,JC105,Christ Hospital,JC034,40.735208,-74.046964,40.734786,-74.050444,member
1,FD73FB85F008349D,docked_bike,2021-02-27 16:34:05,2021-02-27 16:56:40,Newport Pkwy,JC008,Marin Light Rail,JC013,40.728744,-74.032108,40.714584,-74.042817,member
2,39F9E6663CB5FDF6,docked_bike,2021-02-26 23:16:04,2021-02-26 23:22:25,Journal Square,JC103,Baldwin at Montgomery,JC020,40.733670,-74.062500,40.723659,-74.064194,member
3,A64745CB0792EC6F,docked_bike,2021-02-24 16:51:50,2021-02-24 17:16:09,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,casual
4,75CC76EB9543764A,docked_bike,2021-02-24 20:44:16,2021-02-24 20:44:46,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,member

In [16]:
Mar.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,ABBBB4D89C620898,docked_bike,2021-03-03 10:32:07,2021-03-03 10:32:40,Jackson Square,JC063,Jackson Square,JC063,40.71113,-74.0789,40.711130,-74.078900,member
1,987BC8C414C77F3E,docked_bike,2021-03-14 00:21:37,2021-03-14 00:22:59,Jackson Square,JC063,Jackson Square,JC063,40.71113,-74.0789,40.711130,-74.078900,casual
2,342C5C515F0F8BCB,docked_bike,2021-03-21 14:39:46,2021-03-21 15:33:10,Jackson Square,JC063,Warren St,JC006,40.71113,-74.0789,40.721124,-74.038051,casual
3,AB28945141163E31,docked_bike,2021-03-14 00:27:21,2021-03-14 00:31:07,Jackson Square,JC063,Jackson Square,JC063,40.71113,-74.0789,40.711130,-74.078900,casual
4,4F5758803BC3DE72,docked_bike,2021-03-12 20:45:29,2021-03-13 08:58:59,Jackson Square,JC063,Jackson Square,JC063,40.71113,-74.0789,40.711130,-74.078900,member

In [17]:
Apr.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,8B8A826EA1FB6246,docked_bike,2021-04-02 18:06:51,2021-04-02 18:42:17,Paulus Hook,JC002,Astor Place,JC077,40.714145,-74.033551,40.719282,-74.071262,member
1,6ECB53933BB5424E,docked_bike,2021-04-06 21:19:27,2021-04-06 21:59:56,Bergen Ave,JC095,Bergen Ave,JC095,40.722103,-74.071455,40.722104,-74.071455,casual
2,DC8E726CDD4A3FDE,docked_bike,2021-04-07 17:26:47,2021-04-07 17:31:01,Bergen Ave,JC095,Lincoln Park,JC053,40.722103,-74.071455,40.724605,-74.078406,member
3,CDBF0A93464AB439,docked_bike,2021-04-30 20:23:42,2021-04-30 20:32:12,Jersey & 6th St,JC027,Hoboken Ave at Monmouth St,JC105,40.725289,-74.045571,40.735208,-74.046964,casual
4,7AC523690FC1E82E,docked_bike,2021-04-23 18:48:11,2021-04-23 18:57:29,Paulus Hook,JC002,Washington St,JC098,40.714145,-74.033551,40.724294,-74.035483,casual

In [18]:
May.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,74A4206E7487CBC9,docked_bike,2021-05-23 16:51:00,2021-05-23 18:38:21,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
1,58EEE2950FFE01CE,docked_bike,2021-05-31 16:54:47,2021-05-31 16:55:28,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,member
2,1429D912C16EEE59,docked_bike,2021-05-25 16:19:34,2021-05-25 17:03:06,9 St HBLR - Jackson St & 8 St,HB305,9 St HBLR - Jackson St & 8 St,HB305,40.747907,-74.038411,40.747907,-74.038412,casual
3,FE9C5B74167CBCCD,docked_bike,2021-05-22 17:32:19,2021-05-22 17:41:27,9 St HBLR - Jackson St & 8 St,HB305,Grand St & 2 St,HB405,40.747907,-74.038411,40.739130,-74.036180,casual
4,B88D37626F000BBA,docked_bike,2021-05-14 09:48:34,2021-05-14 10:17:36,Union St,JC051,Newark Ave,JC032,40.718211,-74.083639,40.721525,-74.046305,casual

In [19]:
Jun.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6457BC38526A4187,docked_bike,2021-06-21 10:19:04,2021-06-21 10:26:28,Lafayette Park,JC078,City Hall,JC003,40.713463,-74.062858,40.717732,-74.043845,member
1,508AC0C37B2BE1A8,docked_bike,2021-06-05 10:12:18,2021-06-05 10:27:10,Mama Johnson Field - 4 St & Jackson St,HB404,Bloomfield St & 15 St,HB203,40.743139,-74.040040,40.754530,-74.026580,member
2,A1AD52779E13308C,docked_bike,2021-06-04 15:42:35,2021-06-04 15:54:28,Lincoln Park,JC053,Grand St,JC102,40.724605,-74.078405,40.715178,-74.037683,member
3,DA8AA7083ACCA940,docked_bike,2021-06-03 18:07:42,2021-06-03 19:09:26,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual
4,BF8DB08AEF78C8D1,docked_bike,2021-06-05 15:39:56,2021-06-05 16:16:09,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual

In [20]:
Jul.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2F01C15ECE379AE7,classic_bike,2021-07-31 13:53:26,2021-07-31 14:47:00,Bergen Ave & Stegman St,JC108,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.706575,-74.086701,40.736982,-74.027781,member
1,CF7E2039ACB179C2,classic_bike,2021-07-17 19:06:01,2021-07-17 19:20:07,Bergen Ave & Stegman St,JC108,Baldwin at Montgomery,JC020,40.706575,-74.086701,40.723659,-74.064194,member
2,9375052379DE50FC,classic_bike,2021-07-08 19:54:34,2021-07-08 20:43:06,Columbus Dr at Exchange Pl,JC106,Liberty Light Rail,JC052,40.716870,-74.032810,40.711242,-74.055701,member
3,EF77D67D538E108E,classic_bike,2021-07-18 20:21:15,2021-07-18 20:28:23,Columbus Dr at Exchange Pl,JC106,Warren St,JC006,40.716870,-74.032810,40.721124,-74.038051,member
4,3550C64E6994B8BC,classic_bike,2021-07-08 18:19:07,2021-07-08 18:24:48,Columbus Dr at Exchange Pl,JC106,Warren St,JC006,40.716870,-74.032810,40.721124,-74.038051,member

In [21]:
Aug.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CABAE380FF3C7E0,classic_bike,2021-08-06 07:02:02,2021-08-06 07:28:56,Dey St,JC065,Stevens - River Ter & 6 St,HB602,40.737711,-74.066921,40.743133,-74.026989,casual
1,0C820F4E9256B5BB,classic_bike,2021-08-15 19:48:51,2021-08-15 20:04:45,Grand St & 2 St,HB405,Jersey & 3rd,JC074,40.739130,-74.036180,40.723332,-74.045953,member
2,F33B1B767F55A2BC,classic_bike,2021-08-26 17:14:58,2021-08-26 17:20:13,Grand St & 2 St,HB405,7 St & Monroe St,HB304,40.739130,-74.036180,40.746413,-74.037977,casual
3,EF7A1541C2302EEF,classic_bike,2021-08-12 12:58:22,2021-08-12 13:04:07,Dey St,JC065,Sip Ave,JC056,40.737711,-74.066921,40.730897,-74.063913,member
4,74DEC24E4C66BA01,classic_bike,2021-08-04 20:59:45,2021-08-04 21:10:39,Glenwood Ave,JC094,Pershing Field,JC024,40.727551,-74.071061,40.742677,-74.051789,member

In [22]:
Sept.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,228F2E2FEBFBF843,classic_bike,2021-09-11 16:03:10,2021-09-11 16:20:57,Jersey & 6th St,JC027,Astor Place,JC077,40.725289,-74.045572,40.719282,-74.071262,casual
1,DCDBDC0A5178BAB5,classic_bike,2021-09-14 17:27:50,2021-09-14 17:34:18,Jersey & 6th St,JC027,Marin Light Rail,JC013,40.725289,-74.045572,40.714584,-74.042817,member
2,DD7AD7B81588187B,docked_bike,2021-09-04 20:29:34,2021-09-04 20:41:17,12 St & Sinatra Dr N,HB201,4 St & Grand St,HB301,40.750604,-74.024020,40.742258,-74.035111,casual
3,4D3CFEEB6E3E514B,classic_bike,2021-09-16 17:26:37,2021-09-16 17:32:48,Jersey & 6th St,JC027,Marin Light Rail,JC013,40.725289,-74.045572,40.714584,-74.042817,member
4,D05FC6DDE1112F08,classic_bike,2021-09-16 18:05:35,2021-09-16 18:16:02,Jersey & 6th St,JC027,Columbus Dr at Exchange Pl,JC106,40.725289,-74.045572,40.716870,-74.032810,member

In [23]:
Oct.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0FA0B0B972A68AAB,classic_bike,2021-10-19 06:08:46,2021-10-19 06:11:26,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,member
1,0702BED6EB379838,classic_bike,2021-10-16 12:08:29,2021-10-16 12:13:29,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,member
2,A8810ECCC69E2866,classic_bike,2021-10-29 12:29:49,2021-10-29 12:34:49,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,member
3,C9A0FF2B82237FFA,classic_bike,2021-10-08 12:36:21,2021-10-08 12:40:55,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,member
4,7DFDEB8EF4CAB15C,classic_bike,2021-10-14 06:54:51,2021-10-14 07:01:14,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,casual

In [24]:
Nov.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DF35F0CFE02F24FA,classic_bike,2021-11-10 07:59:48,2021-11-10 08:12:54,Bergen Ave & Stegman St,JC108,McGinley Square,JC055,40.706575,-74.086701,40.725340,-74.067622,casual
1,4D166A3D049BA4F7,classic_bike,2021-11-03 09:41:50,2021-11-03 09:58:29,Bergen Ave & Stegman St,JC108,Lafayette Park,JC078,40.706575,-74.086701,40.713464,-74.062859,casual
2,F4BA689777358AD3,classic_bike,2021-11-10 09:03:46,2021-11-10 09:08:36,Washington St,JC098,Columbus Dr at Exchange Pl,JC106,40.724294,-74.035483,40.716870,-74.032810,member
3,9B9A296982C436CC,classic_bike,2021-11-09 17:00:38,2021-11-09 17:44:40,JC Medical Center,JC011,Grove St PATH,JC005,40.716540,-74.049638,40.719586,-74.043117,member
4,EBC2B8A56E6F168F,classic_bike,2021-11-25 07:15:51,2021-11-25 07:22:06,JC Medical Center,JC011,Hamilton Park,JC009,40.716540,-74.049638,40.727596,-74.044247,member

In [25]:
Dec.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DE8FDF918B766B34,classic_bike,2021-12-22 18:44:12,2021-12-22 18:49:56,Marin Light Rail,JC013,Warren St,JC006,40.714584,-74.042817,40.721124,-74.038051,member
1,DFFA588D5D188F27,classic_bike,2021-12-11 12:32:58,2021-12-11 12:57:13,Warren St,JC006,Warren St,JC006,40.721124,-74.038051,40.721124,-74.038051,member
2,3A2A9CA5E1CC449A,classic_bike,2021-12-18 11:08:40,2021-12-18 11:21:10,Warren St,JC006,Warren St,JC006,40.721124,-74.038051,40.721124,-74.038051,member
3,72216E8C562A4E02,classic_bike,2021-12-11 17:28:08,2021-12-11 17:42:16,5 Corners Library,JC018,Warren St,JC006,40.734961,-74.059503,40.721124,-74.038051,member
4,A7B30B3C966FD8A1,classic_bike,2021-12-11 10:39:41,2021-12-11 10:54:56,City Hall - Washington St & 1 St,HB105,Warren St,JC006,40.737360,-74.030970,40.721124,-74.038051,casual

All the data is standard and in consistent format except for file 1 - January. 
Standardize file 1 to match all other files and drop columns that do not match all other files.

In [26]:
#veiw January file again. 

Jan.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0
2,1207,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,1
3,2506,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,1
4,959,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,1

In [28]:
#drop tripduration, birth year, bikeid, and gender

Jan_drop = Jan.drop(columns=['tripduration', 'bikeid', 'birth year', 'gender'])
Jan_drop.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
0,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer
1,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer
2,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,Subscriber
3,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer
4,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,Customer

In [53]:
#insert missing columns in January file so the amount of columns match. 
Jan_drop.insert(1,'ride_id', 'None')

In [34]:
Jan_drop.insert(1, 'rideable_type', 'None')


Jan_drop.head()

,starttime,ride_id,rideable_type,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
0,2021-01-01 00:00:11.9020,None,None,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer
1,2021-01-01 00:00:15.0960,None,None,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer
2,2021-01-01 00:00:28.9300,None,None,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,Subscriber
3,2021-01-01 00:00:32.7130,None,None,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer
4,2021-01-01 00:00:35.3650,None,None,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,Customer

In [37]:
#rename the columns to match other file columns 

Jan_rename = Jan_drop.rename(columns={"starttime":"started_at","stoptime":"ended_at",
                                     "start station id":"start_station_id", "start station name":"start_station_name",
                                     "start station latitude":"start_lat","start station longitude":"start_lng",
                                      "end station id":"end_station_id","end station name":"end_station_name",
                                     "end station latitude":"end_lat","end station longitude":"end_lng",
                                      "usertype":"member_casual"})
Jan_rename.head()

,started_at,ride_id,rideable_type,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,member_casual
0,2021-01-01 00:00:11.9020,None,None,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer
1,2021-01-01 00:00:15.0960,None,None,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer
2,2021-01-01 00:00:28.9300,None,None,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,Subscriber
3,2021-01-01 00:00:32.7130,None,None,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer
4,2021-01-01 00:00:35.3650,None,None,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,Customer

In [38]:
#change column order to match other files

Jan_neworder = Jan_rename[['ride_id', 'rideable_type','started_at','ended_at','start_station_name','start_station_id',
                          'end_station_name','end_station_id','start_lat','start_lng','end_lat','end_lng','member_casual']]

Jan_neworder.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,None,None,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.674012,-73.967146,40.674012,-73.967146,Customer
1,None,None,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.674012,-73.967146,40.674012,-73.967146,Customer
2,None,None,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,E 81 St & Park Ave,3144,7 Ave & Central Park South,3724,40.776777,-73.959010,40.766741,-73.979069,Subscriber
3,None,None,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.674012,-73.967146,40.674012,-73.967146,Customer
4,None,None,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,Water - Whitehall Plaza,534,Cherry St,332,40.702551,-74.012723,40.712199,-73.979481,Customer

In [39]:
#veiw the new order against one of the other dataframes

Dec.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DE8FDF918B766B34,classic_bike,2021-12-22 18:44:12,2021-12-22 18:49:56,Marin Light Rail,JC013,Warren St,JC006,40.714584,-74.042817,40.721124,-74.038051,member
1,DFFA588D5D188F27,classic_bike,2021-12-11 12:32:58,2021-12-11 12:57:13,Warren St,JC006,Warren St,JC006,40.721124,-74.038051,40.721124,-74.038051,member
2,3A2A9CA5E1CC449A,classic_bike,2021-12-18 11:08:40,2021-12-18 11:21:10,Warren St,JC006,Warren St,JC006,40.721124,-74.038051,40.721124,-74.038051,member
3,72216E8C562A4E02,classic_bike,2021-12-11 17:28:08,2021-12-11 17:42:16,5 Corners Library,JC018,Warren St,JC006,40.734961,-74.059503,40.721124,-74.038051,member
4,A7B30B3C966FD8A1,classic_bike,2021-12-11 10:39:41,2021-12-11 10:54:56,City Hall - Washington St & 1 St,HB105,Warren St,JC006,40.737360,-74.030970,40.721124,-74.038051,casual

In [42]:
#replace "customer to casual", and "subscriber to member" in January file/df

Jan_neworder['member_casual'] = Jan_neworder['member_casual'].replace(['Customer','Subscriber'],['casual','member',])

Jan_neworder.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,None,None,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.674012,-73.967146,40.674012,-73.967146,casual
1,None,None,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.674012,-73.967146,40.674012,-73.967146,casual
2,None,None,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,E 81 St & Park Ave,3144,7 Ave & Central Park South,3724,40.776777,-73.959010,40.766741,-73.979069,member
3,None,None,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.674012,-73.967146,40.674012,-73.967146,casual
4,None,None,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,Water - Whitehall Plaza,534,Cherry St,332,40.702551,-74.012723,40.712199,-73.979481,casual

In [43]:
#append all the dataframes together and view

# Jan_neworder
# Feb 
# Mar 
# Apr
# May 
# Jun 
# Jul 
# Aug 
# Sept 
# Oct 
# Nov 
# Dec 

files_append = Jan_neworder.append(Feb).append(Mar).append(Apr).append(May).append(Jun).append(Jul).append(Aug).append(Sept).append(Oct).append(Nov).append(Dec)

files_append.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,None,None,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.674012,-73.967146,40.674012,-73.967146,casual
1,None,None,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.674012,-73.967146,40.674012,-73.967146,casual
2,None,None,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,E 81 St & Park Ave,3144,7 Ave & Central Park South,3724,40.776777,-73.959010,40.766741,-73.979069,member
3,None,None,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.674012,-73.967146,40.674012,-73.967146,casual
4,None,None,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,Water - Whitehall Plaza,534,Cherry St,332,40.702551,-74.012723,40.712199,-73.979481,casual

In [48]:
#view data

files_append.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
48016,5B2EB783C27ABA3B,classic_bike,2021-12-16 16:15:22,2021-12-16 16:32:43,Oakland Ave,JC022,8 St & Washington St,HB603,40.737604,-74.052478,40.745984,-74.028199,member
48017,CFD630A9FB26BFE3,classic_bike,2021-12-27 23:57:45,2021-12-28 00:00:23,Clinton St & 7 St,HB303,8 St & Washington St,HB603,40.745420,-74.033320,40.745984,-74.028199,casual
48018,EBDCF655230758EE,classic_bike,2021-12-21 13:32:14,2021-12-21 13:48:23,Clinton St & 7 St,HB303,8 St & Washington St,HB603,40.745420,-74.033320,40.745984,-74.028199,member
48019,F231569D7D4FB453,classic_bike,2021-12-22 12:25:55,2021-12-22 12:34:17,Grand St & 14 St,HB506,8 St & Washington St,HB603,40.754090,-74.031600,40.745984,-74.028199,member
48020,58C95FC3BA023E28,classic_bike,2021-12-17 17:31:22,2021-12-17 17:36:38,4 St & Grand St,HB301,8 St & Washington St,HB603,40.742258,-74.035111,40.745984,-74.028199,member

In [49]:
#counting number of rows to see if it will fit in a csv file and decide if I should put data in database or two files and union
# in tableau.


len(files_append)

1728078

The number of rows in the output matches the number of rows in tableau so a database or splitting of files and union isn't 
necessary.

In [ ]:
#add state to file

# https://www.unitedstateszipcodes.org/zip-code-database/

In [79]:
# format the decimal places
files_append.loc[:, "start_lat"] = files_append["start_lat"].map('{:.2f}'.format)

In [61]:
files_append.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,None,None,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.67,-73.967146,40.674012,-73.967146,casual
1,None,None,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.67,-73.967146,40.674012,-73.967146,casual
2,None,None,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,E 81 St & Park Ave,3144,7 Ave & Central Park South,3724,40.78,-73.959010,40.766741,-73.979069,member
3,None,None,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.67,-73.967146,40.674012,-73.967146,casual
4,None,None,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,Water - Whitehall Plaza,534,Cherry St,332,40.70,-74.012723,40.712199,-73.979481,casual

In [62]:
citibike_2021 = files_append.to_csv('citibike_2021.csv', index = True, header = True)

In [65]:
#view file

zip.head()

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0,None,None,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.67,-73.967146,40.674012,-73.967146,casual
1,1,None,None,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.67,-73.967146,40.674012,-73.967146,casual
2,2,None,None,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,E 81 St & Park Ave,3144,7 Ave & Central Park South,3724,40.78,-73.959010,40.766741,-73.979069,member
3,3,None,None,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,Underhill Ave & Lincoln Pl,3581,Underhill Ave & Lincoln Pl,3581,40.67,-73.967146,40.674012,-73.967146,casual
4,4,None,None,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,Water - Whitehall Plaza,534,Cherry St,332,40.70,-74.012723,40.712199,-73.979481,casual

In [76]:
zipcode = "Citibike Files/zipcode data.xlsx"
zip = pd.read_excel(zipcode)
zip.head()

,zipcode,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population
0,501,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631.0,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631.0,NaN,US,40.81,-73.04,0
2,6390,PO BOX,0,Fishers Island,Fishers Isle,NaN,NY,Suffolk County,America/New_York,631.0,NaN,US,41.27,-71.99,286
3,7001,STANDARD,0,Avenel,NaN,NaN,NJ,Middlesex County,America/New_York,732848908.0,NaN,US,40.58,-74.27,13750
4,7002,STANDARD,0,Bayonne,NaN,"Bergen Point, Pamrapo",NJ,Hudson County,America/New_York,201551.0,NaN,US,40.66,-74.11,60150